/* Weather.css */

.container-clima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.459);
    
  }
  
  .search-box {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
   
  }
  .contloaderclima{
    display: flex;
    width: 100%;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .fa-location-dot,
  .fa-magnifying-glass {
    font-size: 24px;
    margin-right: 10px;
  }
  
  input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    background-color: #4caf50;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .not-found {
    text-align: center;
    margin-top: 20px;
    background-color: #4caf50;
  }
  
  img {
    width: 50%;
  }
  
  .weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
  }
  
  .temperature {
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .temperature span {
    font-size: 16px;
  }
  
  .weather-details {
    display: flex;
    width: 100%;
    padding: 6px;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .humidity,
  .wind {
    display: flex;
    align-items: center;
  }
  
  .fa-water,
  .fa-wind {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .texta {
    text-align: left;
    font-weight: 600;
  }
  .texts {
    text-align: right;
    font-weight: 600;
  }
  
  .text span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .text p {
    font-size: 14px;
    margin: 0;
  }
  