.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
   }
   
   .signin-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
   }
   
   .signin-container input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #e60808;
    border-radius: 5px;
   }

   .divcentered{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    max-width: 600px;
    height: 100%;
   }

   .divtopsignin{
    display: flex;
    width:100vw;
    height: 40%;
    font-size: large;
   }

   .divinputsign{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100;
    height: 30%;
    font-size: large;
   }

   .divbottomsignin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 30%;
    font-size: large;
   }

   @media screen and ( min-width: 600px) {
      
    .divcentered{
        display:flex;
        flex-direction: column;
        justify-content:center;
        width: 60%;
        height: 100%;
       }

       .divbottomsignin{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 30%;
       }

  
     
   }

  
   
 