.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
   }
   
   .signin-container h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
   }
   
   .signin-container input {
    width: 100%;
    max-width: 350px;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
   }
   
   .signin-container button {
    width: 100%;
    max-width: 350px;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
   }
   
   .signin-container button:hover {
    background-color: #0056b3;
   }

   .container-bartop{
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    position: absolute;
    top: 0px;
   }
   .container-battitle{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100px;
   }
   .container-titletext{
    font-size: 24px;
    margin-bottom: 6px;
   }
   .container-text{
    font-size: 14px;
   }
   .container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: large;
   }
   .container-notification{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 10px;
    color: red;
    font-size: 12px;
   }
   .link-style{
    text-decoration: none;
    color: inherit;
   }
   .bt-back{
    margin: 10px;
    width: 50px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;
   }

   